version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    target-branch: main
    labels:
      - dependabot
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
      time: "04:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5
    target-branch: main
    labels:
      - dependabot
      - docker
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    target-branch: main
    labels:
      - dependabot
