name: Build image on PR

on:
  pull_request:
  merge_group:

jobs:
  build-on-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Build image
        run: docker buildx build --cache-to type=gha,mode=max --cache-from type=gha .

